<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Home</title>
</h:head>
<h:body style="padding: 60px;">
	<ui:composition>
		<b:navBar brand="ContactBook"
			brandHref="/ContactBook/home/home.jsf" fixed="top"
			inverse="true">
			<b:navbarLinks>
				<b:dropMenu value="Contacts">
					<b:navLink value="Add Contact" href="/contacts/addContact.jsf"></b:navLink>
					<b:navLink value="List all" href="/contacts/listContacts.jsf"></b:navLink>
					<h:form>
					<b:commandButton inverse="false" value="Generate" action="#{generator.generateContacts()}"/>
					</h:form>
				</b:dropMenu>
				<b:dropMenu value="Groups">
					<b:navLink value="Add Group" href="/groups/addGroup.jsf"></b:navLink>
					<b:navLink value="List all" href="/groups/listGroups.jsf"></b:navLink>
				</b:dropMenu>
				<b:navLink value="Statistics" href="/home/stat.jsf"></b:navLink>
			</b:navbarLinks>
			<h:form id="search" styleClass="navbar-form navbar-right"
				method="post">
				<b:inputText placeholder="Search contact...	" fieldSize="sm"
					value="#{findContact.defaultSearch}" />
				<b:commandButton size="sm" value="Search"
					action="#{findContact.simpleSearch()}">
				</b:commandButton>
			</h:form>
		</b:navBar>
	</ui:composition>
</h:body>
</html>