<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Search for Contact</title>
	<h:outputStylesheet library="css" name="styleAdd.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form styleClass="addForm" method="post">
				<h2>Advanced Search:</h2>
				<h:panelGrid columns="2" cellspacing="2">
					<h:outputText value="First Name:" />
					<b:inputText id="fname" value="#{findContact.firstName}"/>
					<h:outputText value="Last Name:" />
					<b:inputText id="lname" value="#{findContact.lastName}"/>
					<h:outputText value="Email:" />
					<b:inputText id="email" value="#{findContact.email}"/>
				</h:panelGrid>
				<h:panelGrid columns="2" cellspacing="2">
					<h:outputText value="Street:" />
					<b:inputText value="#{findContact.add.street}" />
					<h:outputText value="City:" />
					<b:inputText value="#{findContact.add.city}" />
					<h:outputText value="Zip:" />
					<b:inputText value="#{findContact.add.zip}" />
					<h:outputText value="Country:" />
					<b:inputText value="#{findContact.add.country}" />
				</h:panelGrid>
				<h:panelGrid columns="2" cellspacing="2">
					<h:outputText value="Mobile:" />
					<b:inputText value="#{findContact.numberM}" />
					<h:outputText value="Home:" />
					<b:inputText value="#{findContact.numberH}" />
					<h:outputText value="Work:" />
					<b:inputText value="#{findContact.numberW}" />
				</h:panelGrid>	
				<h:panelGrid columns="5" cellspacing="2">
					<h:selectManyCheckbox
						value="#{findContact.ids}">
						<!-- ne pas oublier de mettre @viewContact ou autre dans groupList -->
						<f:selectItems
							value="#{contactGroupOptions.getAllContactGroups()}" var="group"
							itemValue="#{group.id}" itemLabel="#{group.groupName}" />
					</h:selectManyCheckbox>
				</h:panelGrid>
				<b:commandButton value="Search" size="sm" look="primary"
					action="#{findContact.advancedSearch()}" />
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>