<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"	
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Home</title>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:outputText value="HIT: " style="font-weight: bold" />
			<br/>
			<h:outputText value="#{statistics.stats.getSecondLevelCacheHitCount() }"/>
			<br/>
			<h:outputText value="MISS: " style="font-weight: bold" />
			<br/>
			<h:outputText value="#{statistics.stats.getSecondLevelCacheMissCount() }"/>
		</b:jumbotron>
	</b:container>
</h:body>
</html>