
/* Contact list*/

h3 {
	text-align : center;
}
#listeContact tr {
    line-height: 35px;
}

#listeContact th {
    text-align: center;
}

#listeContact td {
    line-height: 12px;
    padding: 0 10px;
    width: 390px;
}

#listeContact td + td + td {
    text-align: center;
    width: 50px;
}

#listeContact td + td + td + td {
    width: 190px;
}

/* Group list */

form#listGroups > table {
    margin: auto;
}

#listGroups\:listeContact tr {
    line-height: 35px;
}

#listGroups\:listeContact th {
    text-align: center;
}

#listGroups\:listeContact td {
    line-height: 12px;
    padding: 0 10px;
    width: 390px;
}

#listGroups\:listeContact td + td + td {
    text-align: center;
    width: 190px;
}

#listGroups\:listeContact td + td {
    text-align: center;
    width: 50px;
}
