
#deleteBloc {
    margin: auto;
}
#deleteBloc td {
    font-size: 24px;
    text-align : center;
}
#deleteBloc table {
    width : 100%;
}
#deleteBloc\:gb button {
    float: none;
}
#deleteBloc\:gb {
    text-align: center;
    width: 100%;
}

