.field {
    display: inline-block;
    text-align: right;
    width: 250px;
}

#j_idt71, #j_idt47 {
    text-align: center;
    width: 100%;
}

#j_idt71 > button, #j_idt47 > button {
    float: none;
}

#groupNames td:first-child {
    display: inline-block;
    margin-left: 435px;
    margin-right: 25px;
    text-align: right;
    line-height : normal;
    width: 250px;
}

#groupNames tr {
    line-height : 35px;
}

.title {
    display: inline-block;
    margin-left: 345px;
    width: 90px;
}

h2 {
    text-align: center;
}
