
#editGroup\:contactsOfGroup td:first-child {
    line-height: 12px;
    padding-left: 50px;
    width: 440px;
}

#editGroup\:contactsOfGroup tr {
    line-height: 35px;
}

h2 {
    text-align: center;
}

#editGroup\:tableGroupName tr:first-child {
    line-height: 80px;
}

#editGroup select {
    margin-left: 30px;
    margin-right: 280px;
    min-width: 145px;
    padding-left: 15px;
    position: relative;
    top: 2px;
}

#editGroup\:contactsOfGroup {
    margin-bottom: 20px;
}

#editGroup {
    margin: auto;
    width: 500px;
}

.editButtonGroup {
    margin-top: 40px;
}

#editGroup\:tableGroupName input {
    margin-left: 230px;
    width: 200px;
}

