<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Add Group</title>
	<h:outputStylesheet library="css" name="styleAdd.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form styleClass="addForm" id="newGroup" method="post">
				<h2>Group Information</h2>
				<h:message for="group" style="color:red"/>
				<h:panelGrid columns="2" cellpadding="8" width="100%">
					<h:outputText value="Name: " />
					<b:inputText span="3" id="group" value="#{newContactGroup.groupName}" required="true" requiredMessage="Field 'Name' cannot be empty" />
				</h:panelGrid>
				<b:commandButton styleClass="addButton" size="sm" look="success" value="Add" action="#{newContactGroup.addGroup}" />
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>