<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>List Groups</title>
	<h:outputStylesheet library="css" name="styleDetailed.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h2>Group Informations</h2>
			<h:outputText styleClass="title" value="Name: " style="font-weight: bold"/>
			<h:outputText styleClass="field" value="#{contactGroupOptions.groupName}" />
			<br />
			<h:outputText styleClass="title" value="Contacts: " style="font-weight: bold"/>
			<h:panelGrid columns="2" cellpadding="5">
				<h:dataTable id="groupNames" value="#{contactGroupOptions.getContactsOfGroup()}"
					var="contact" cellspacing="15" width="100%">
					<h:column>
						<h:outputText value="#{contact.getFullName()}" />
					</h:column>
					<h:column>
						<b:button look="primary" size="xs" value="More" outcome="moreContact">
							<f:param name="contactID" value="#{contact.id}" />
						</b:button>
					</h:column>
				</h:dataTable>
			</h:panelGrid>
			<br />
			<b:buttonGroup size="sm">
				<b:button look="warning" value="Edit" outcome="editGroup"  disabled="#{contactGroupOptions.isAll()}">
					<f:param name="groupID" value="#{contactGroupOptions.id}" />
				</b:button>
				<b:button look="danger" value="Delete" outcome="deleteGroup"  disabled="#{contactGroupOptions.isAll()}">
					<f:param name="groupID" value="#{contactGroupOptions.id}" />
				</b:button>
			</b:buttonGroup>
		</b:jumbotron>
	</b:container>
</h:body>
</html>