<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsf/jstl/core">
<h:head>
	<title>Group List</title>
	<h:outputStylesheet library="css" name="styleList.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form id="listGroups" method="post">
				<h2>Group List</h2>
				<h:panelGrid columns="3" cellpadding="5">
					<h:dataTable id="listeContact"
						value="#{contactGroupOptions.getAllContactGroups()}" var="group"
						cellspacing="15" width="100%">
						<h:column>
							<f:facet name="header">
								<h:outputText value="Name" />
							</f:facet>
							<h:outputText value="#{group.groupName}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Contacts" />
							</f:facet>
							<h:outputText value="#{group.getContacts().size()}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Options" />
							</f:facet>
							<b:buttonGroup size="sm">
								<b:button look="primary" value="More" outcome="moreGroup">
									<f:param name="groupID" value="#{group.id}" />
								</b:button>
								<b:button look="warning" value="Edit" outcome="editGroup" disabled="#{group.isAll()}">
									<f:param name="groupID" value="#{group.id}" />
								</b:button>
								<b:button look="danger" value="Delete" outcome="deleteGroup" disabled="#{group.isAll()}">
									<f:param name="groupID" value="#{group.id}" />
								</b:button>
							</b:buttonGroup>
						</h:column>
					</h:dataTable>
				</h:panelGrid>
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>