<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Edit Group</title>
	<h:outputStylesheet library="css" name="styleUpdate.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form id="editGroup" method="post">
				<h2>Edit group #{editContactGroup.groupName}</h2>
				<h:panelGrid id="tableGroupName" columns="2" cellpadding="8" width="100%">
					<h:outputText value="Name: " style="font-weight: bold"/>
					<b:inputText span="2" name="group"
						value="#{editContactGroup.groupName}" />
					<h:outputText value="Contact: " style="font-weight: bold"/>
				</h:panelGrid>
					<h:dataTable id="contactsOfGroup" value="#{editContactGroup.getContactsOfGroup()}"
						var="contact">
						<h:column>
							<h:outputText value="#{contact.getFullName()}" />
						</h:column>
						<h:column>
							<b:commandButton id="rmv_#{contact.id}" look="danger" size="xs"
								value="Remove"
								action="#{editContactGroup.removeContact(contact.id)}" />
						</h:column>
					</h:dataTable>
					
						<h:selectOneMenu value="#{editContactGroup.addContact}">
							<f:selectItems span="2"
								value="#{editContactGroup.getOtherContacts()}" var="contact"
								itemLabel="#{contact.getFullName()}" itemValue="#{contact.id}" />
						</h:selectOneMenu>
						<b:commandButton id="add_#{contact.id}" look="success" size="xs"
							value="Add" action="#{editContactGroup.addContact()}"  disabled="#{editContactGroup.noContactsLeft()}"/>
				<br/>
				<b:buttonGroup styleClass="editButtonGroup" size="sm">
					<b:commandButton look="warning" value="Edit"
						action="#{editContactGroup.editGroup()}" />
					<b:button look="danger" value="Cancel" outcome="home" />
				</b:buttonGroup>
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>