<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"	
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Home</title>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
	<b:alert severity="danger"><strong>Error!</strong> The contact has not been added. </b:alert>
		<b:jumbotron>
			<h2>Welcome!</h2>
			<p>You currently have <h:outputText value="#{contactOptions.getNbContacts()}"/> contact(s) in your contact book<br/>
			You currently have <h:outputText value="#{contactGroupOptions.getNbGroups()}"/> group(s) in your contact book</p>
		</b:jumbotron>
	</b:container>
</h:body>
</html>