<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Create new contact</title>
	<h:outputStylesheet library="css" name="styleAdd.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form styleClass="addForm" method="post">
				<h2>Contact Informations</h2>
				<i>* fields are mandatory</i>
				<h:messages style="color:red" layout="table"/>

				<h:panelGrid columns="2" cellpadding="8">
				<h4>Personal informations</h4>
				<h:outputText value="" />
					<h:outputText value="First Name: " />
					<b:inputText id="fname" value="#{newContact.firstName}"
						validatorMessage="Invalid 'First Name' format: only characters and - accepted">
						<f:validateRegex pattern="^[A-Za-z \-]+$"/>
					</b:inputText>
					<h:outputText value="Last Name*: " />
					<b:inputText id="lname" value="#{newContact.lastName}" 
						validatorMessage="Invalid 'Last Name' format: only characters and - accepted">
						<!-- f:validateRegex pattern="^[A-Za-z \-]+$"/-->
					</b:inputText>
					<h:outputText value="Email*: " />
					<b:inputText id="email" value="#{newContact.email}"  
						validatorMessage="Invalid 'Email' format">
						<!-- required="true" requiredMessage="Field 'Email' cannot be empty" f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/-->
					</b:inputText>
					<h:outputText value="Siret: " />
					<b:inputText id="siret" value="#{newContact.siret}"/>
				<h4>Address</h4>
				<h:outputText value="" />
					<h:outputText value="Street:" />
					<b:inputText id="street"  value="#{newContact.add.street}"/>
					<h:outputText value="City:" />
					<b:inputText value="#{newContact.add.city}"/>
					<h:outputText value="Zip:" />
					<b:inputText value="#{newContact.add.zip}"
						validatorMessage="Invalid 'Zip' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
					<h:outputText value="Country:" />
					<b:inputText value="#{newContact.add.country}"/>
				<h4>Phone Numbers</h4>
				<h:outputText value="" />
					<h:outputText value="Mobile:" />
					<b:inputText value="#{newContact.numberM}"
						validatorMessage="Invalid 'Mobile' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
					<h:outputText value="Home:" />
					<b:inputText value="#{newContact.numberH}"
						validatorMessage="Invalid 'Home' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
					<h:outputText value="Work:" />
					<b:inputText value="#{newContact.numberW}"
						validatorMessage="Invalid 'Work' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
				<h4>Groups</h4>
				<h:outputText value="" />
					<h:selectManyCheckbox
						value="#{newContact.ids}">
						<!-- ne pas oublier de mettre @viewContact ou autre dans groupList -->
						<f:selectItems
							value="#{contactGroupOptions.getContactGroups()}" var="group"
							itemValue="#{group.id}" itemLabel="#{group.groupName}" />
					</h:selectManyCheckbox>
				</h:panelGrid>
				<b:commandButton styleClass="addButton" value="Add" size="sm" look="success"
					action="#{newContact.addContact}" />
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>