<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"	
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Delete contact</title>
	<h:outputStylesheet library="css" name="styleDelete.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form id="deleteBloc" method="post">
				<h:panelGrid columns="2" cellspacing="5">
					<h:outputText value="Are you sure you wish to delete #{deleteContact.getFullName()} from your contacts?"/> 
				</h:panelGrid>
				<b:buttonGroup id="gb" size="sm">
					<b:commandButton look="success" value="Yes" action="#{deleteContact.deleteContact()}" />
					<b:button look="danger" value="No" outcome="home" />
				</b:buttonGroup>
			</h:form>	
		</b:jumbotron>
	</b:container>
</h:body>
</html>