<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"	
    xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Contact Details</title>
	<h:outputStylesheet library="css" name="styleDetailed.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h2>Contact Informations</h2>
			<h:outputText styleClass="title" value="First Name: " style="font-weight: bold" rendered="#{empty contactOptions.siret}"/>
				<h:outputText styleClass="field" value="#{contactOptions.firstName}" rendered="#{empty contactOptions.siret}"/>
				<br/>	
			<h:outputText styleClass="title" value="Last Name: " style="font-weight: bold"/>
				<h:outputText styleClass="field" value="#{contactOptions.lastName}"/>
				<br/>
			<h:outputText styleClass="title" value="Email: " style="font-weight: bold"/>
				<h:outputText styleClass="field" value="#{contactOptions.email}"/>
				<br/>
			<h:outputText styleClass="title" value="Siret: " style="font-weight: bold" rendered="#{not empty contactOptions.siret}"/>
				<h:outputText styleClass="field" value="#{contactOptions.siret}" rendered="#{not empty contactOptions.siret}"/>
				<br/>
			<h:outputText styleClass="title" value="Address: " style="font-weight: bold"/>
				<h:outputText styleClass="field" value="#{contactOptions.add.street} #{contactOptions.add.zip} #{contactOptions.add.city} #{contactOptions.add.country}"/>
				<br/>
			<h:outputText styleClass="title" value="Mobile: " style="font-weight: bold"/>				
				<h:outputText styleClass="field" value="#{contactOptions.numberM}"/>
				<br/>
			<h:outputText styleClass="title" value="Home: " style="font-weight: bold" rendered="#{empty contactOptions.siret}"/>
				<h:outputText styleClass="field" value="#{contactOptions.numberH}" rendered="#{empty contactOptions.siret}"/>
				<br/>
			<h:outputText styleClass="title" value="Work: " style="font-weight: bold"/>
				<h:outputText styleClass="field" value="#{contactOptions.numberW}"/>
				<br/>
			<h:outputText styleClass="title" value="Groups: " style="font-weight: bold"/>
				<h:panelGrid columns="2" cellpadding="5">
					<h:dataTable id="groupNames" value="#{contactOptions.getGroupsOfContact()}"
						var="group" cellspacing="15" width="100%">
						<h:column>
							<h:outputText value="#{group.groupName}" />
						</h:column>
						<h:column>
							<b:button look="primary" size="xs" value="More" outcome="moreGroup">
								<f:param name="groupID" value="#{group.id}" />
							</b:button>
						</h:column>
					</h:dataTable>
				</h:panelGrid>
				<br/>
				<b:buttonGroup size="sm">
					<b:button look="warning" value="Edit" outcome="editContact">
						<f:param name="contactID" value="#{contactOptions.id}"/>
					</b:button>
					<b:button look="danger" value="Delete" outcome="deleteContact">
						<f:param name="contactID" value="#{contactOptions.id}"/>
					</b:button>
				</b:buttonGroup>
		</b:jumbotron>
	</b:container>
</h:body>
</html>