<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Contact List</title>
	<h:outputStylesheet library="css" name="styleList.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h2>Contact List</h2>
			<h:panelGrid columns="4" cellpadding="5">
				<h:dataTable id="listeContact" value="#{contactOptions.getAllContacts()}"
					var="contact" cellspacing="15" width="100%">
					<h:column>
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<h:outputText value="#{contact.getFullName()}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Email" />
						</f:facet>
						<h:outputText value="#{contact.getEmail()}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<!-- apres car set -->
							<h:outputText value="Groups" />
						</f:facet>
						<h:outputText value="#{contact.getBooks().size()}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Options" />
						</f:facet>
						<b:buttonGroup size="sm" >
							<b:button look="primary" value="More" outcome="moreContact">
								<f:param name="contactID" value="#{contact.id}" />
							</b:button>
							<b:button look="warning" value="Edit" outcome="editContact">
								<f:param name="contactID" value="#{contact.id}" />
							</b:button>
							<b:button look="danger" value="Delete" outcome="deleteContact">
								<f:param name="contactID" value="#{contact.id}" />
							</b:button>
						</b:buttonGroup>
					</h:column>
				</h:dataTable>
			</h:panelGrid>
		</b:jumbotron>
	</b:container>
</h:body>
</html>