<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Update contact</title>
	<h:outputStylesheet library="css" name="styleAdd.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form styleClass="addForm" method="post">
				<h2>Contact Informations</h2>
				<i>* fields are mandatory</i>
				<h:messages style="color:red" layout="table"/>

				<h:panelGrid columns="2" cellpadding="8">
				<h4>Personal informations</h4>
				<h:outputText value="" />
					<h:outputText value="First Name: "  rendered="#{empty editContact.siret}"/>
					<b:inputText id="fname" value="#{editContact.firstName}"
						validatorMessage="Invalid 'First Name' format: only characters and - accepted" rendered="#{empty editContact.siret}">
						<f:validateRegex pattern="^[A-Za-z \-]+$"/>
					</b:inputText>
					<h:outputText value="Last Name*: " />
					<b:inputText id="lname" value="#{editContact.lastName}"  required="true" requiredMessage="Field 'Last Name' cannot be empty"
						validatorMessage="Invalid 'Last Name' format: only characters and - accepted">
						<f:validateRegex pattern="^[A-Za-z \-]+$"/>
					</b:inputText>
					<h:outputText value="Email*: " />
					<b:inputText id="email" value="#{editContact.email}"  required="true" requiredMessage="Field 'Email' cannot be empty"
						validatorMessage="Invalid 'Email' format">
						<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
					</b:inputText>
					<h:outputText value="Siret: "  rendered="#{not empty editContact.siret}"/>
					<b:inputText id="siret" value="#{editContact.siret}" rendered="#{not empty editContact.siret}"/>
				<h4>Address</h4>
				<h:outputText value="" />
					<h:outputText value="Street:" />
					<b:inputText id="street"  value="#{editContact.add.street}"/>
					<h:outputText value="City:" />
					<b:inputText value="#{editContact.add.city}"/>
					<h:outputText value="Zip:" />
					<b:inputText value="#{editContact.add.zip}"
						validatorMessage="Invalid 'Zip' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
					<h:outputText value="Country:" />
					<b:inputText value="#{editContact.add.country}"/>
				<h4>Phone Numbers</h4>
				<h:outputText value="" />
					<h:outputText value="Mobile:" />
					<b:inputText value="#{editContact.numberM}"
						validatorMessage="Invalid 'Mobile' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
					<h:outputText value="Home:"  rendered="#{empty editContact.siret}"/>
					<b:inputText value="#{editContact.numberH}"
						validatorMessage="Invalid 'Home' format: only numbers accepted" rendered="#{empty editContact.siret}">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
					<h:outputText value="Work:" />
					<b:inputText value="#{editContact.numberW}"
						validatorMessage="Invalid 'Home' format: only numbers accepted">
						<f:validateRegex pattern="^[0-9]+$"/>
					</b:inputText>
				<h4>Groups</h4>
				<br />
					<h:selectManyCheckbox
						value="#{editContact.ids}">
						<!-- ne pas oublier de mettre @viewContact ou autre dans groupList -->
						<f:selectItems
							value="#{contactGroupOptions.getContactGroups()}" var="group"
							itemValue="#{group.id}" itemLabel="#{group.groupName}" />
					</h:selectManyCheckbox>
				</h:panelGrid>
			<b:buttonGroup size="sm" styleClass="editButtonGroup" >
				<b:commandButton look="warning" value="Edit" action="#{editContact.editContact()}"/>
				<b:button look="danger" value="Cancel" outcome="home"/>
			</b:buttonGroup>
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>