<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Create new contact</title>
	<h:outputStylesheet library="css" name="styleUpdate.css"></h:outputStylesheet>
</h:head>
<h:body style="padding: 60px;">
	<ui:include src="/home/menu.xhtml" />
	<b:container>
		<b:jumbotron>
			<h:form method="post">
				<h2>Fill your new informations</h2>
				<i>* fields are mandatory</i>
				<h:messages style="color:red" layout="table"/>

				<h4>Personal informations</h4>
				<br />
				<h:panelGrid columns="2" cellspacing="2">
					<h:outputText value="First Name:" style="font-weight: bold" rendered="#{empty contactOptions.siret}"/>
					<b:inputText value="#{editContact.firstName}" rendered="#{empty contactOptions.siret}"
						validatorMessage="Invalid 'First Name' format: only characters and - accepted">
						<f:validateRegex pattern="^[A-Za-z \-]+$"/>
					</b:inputText>
					<h:outputText value="Last Name:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.lastName}" 
						validatorMessage="Invalid 'Last Name' format: only characters and - accepted">
						<f:validateRegex pattern="^[A-Za-z \-]+$"/>
					</b:inputText>
					<h:outputText value="Email:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.email}" />	
					<h:outputText value="Siret:" style="font-weight: bold" rendered="#{not empty contactOptions.siret}"/>				
					<h:inputText value="#{contactOptions.siret}" rendered="#{not empty contactOptions.siret}"/>
				<br/>
				</h:panelGrid>
				<h4>Address</h4>
				<br />
				<h:panelGrid columns="2" cellspacing="2">
					<h:outputText value="Street:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.add.street}" />
					<h:outputText value="City:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.add.city}" />
					<h:outputText value="Zip:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.add.zip}" />
					<h:outputText value="Country:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.add.country}" />
				</h:panelGrid>
				<h4>Phone Numbers</h4>
				<br />
				<h:panelGrid columns="2" cellspacing="2">
					<h:outputText value="Mobile:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.numberM}" />
					<h:outputText value="Home:" style="font-weight: bold" rendered="#{empty contactOptions.siret}"/>
					<b:inputText value="#{editContact.numberH}" rendered="#{empty contactOptions.siret}"/>
					<h:outputText value="Work:" style="font-weight: bold"/>
					<b:inputText value="#{editContact.numberW}" />
				</h:panelGrid>
				<h4>Groups</h4>
				<br />
				<h:panelGrid columns="5" cellspacing="2">
					<h:selectManyCheckbox
						value="#{editContact.ids}">
						<!-- ne pas oublier de mettre @viewContact ou autre dans groupList -->
						<f:selectItems
							value="#{contactGroupOptions.getContactGroups()}" var="group"
							itemValue="#{group.id}" itemLabel="#{group.groupName}" />
					</h:selectManyCheckbox>
				</h:panelGrid>
			<b:buttonGroup size="sm" styleClass="editButtonGroup" >
				<b:commandButton look="warning" value="Edit" action="#{editContact.editContact()}"/>
				<b:button look="danger" value="Cancel" outcome="home"/>
			</b:buttonGroup>
			</h:form>
		</b:jumbotron>
	</b:container>
</h:body>
</html>